header {
  background-color: #a5a5a5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
}
h1 {
  text-align: center;
}

footer {
  background-color: #b8b8b8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
}
